h1{
	text-align: center;
}
h3{ 
	color: #FF7400;
	font-weight:bolder;
}
h6{
	color:#FF7400;
}
body{
	background-color:FFA04F;
}

.row {
	margin-top: 5%;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}






